<template>
<Layout>
  <Page id="extraction" options-class="extractionOptions">
    <template v-slot:default>
      <!-- Extraction Results for Debugging -->
      <v-card v-if="testResult">
        <v-card-title><span class="headline">Results</span></v-card-title>
        <v-card-text>
          <v-data-table :headers="testHeaders" :items="testResult">
            <template v-slot:items="props">
              <!-- Report ID -->
              <td>{{ props.item.id }}</td>
              <!-- Report Source -->
              <td>
                <v-tooltip bottom :open-delay="500" content-class="tooltip">
                  <template v-slot:activator="{ on }">
                    <span v-on="on">{{ props.item.source.substring(0, 50)+"..." }}</span>
                  </template>
                  <span>{{props.item.source}}</span>
                </v-tooltip>
              </td>
              <!-- Mapping Results -->
              <td class="text-xs-right">
                <v-tooltip bottom :open-delay="500" content-class="tooltip">
                  <template v-slot:activator="{ on }">
                    <span v-on="on">{{ props.item.map.map(m => m.mapped instanceof Array ? `[${m.mapped.join(", ")}]` : m.mapped).join(", ") }} </span>
                  </template>
                  <div class="map-tooltip">
                    <div>
                      <span v-for="(mapped, i) in props.item.map" :key="i">{{mapped.match}}</span>
                    </div>
                    <div>
                      <span v-for="(_, i) in props.item.map" :key="i">
                        <v-icon small>mdi-arrow-right-circle</v-icon>
                      </span>
                    </div>
                    <div>
                      <span v-for="(mapped, i) in props.item.map" :key="i"><span>{{mapped.mapped}}</span></span>
                    </div>
                  </div>
                </v-tooltip>
              </td>
              <!-- Aggregation Result -->
              <td class="text-xs-right">{{ props.item.agg }}</td>
              <!-- Valuation Result -->
              <td class="text-xs-right">{{ (props.item.val * 100).toFixed(2)+"%" }}</td>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </template>
    <template v-slot:options>
      <!-- Extraction Items -->
      <template v-for="(ex, i) in extractions">

        <div class="mb-3" :key="i">
          <div style="display: flex">
            <!-- Extraction Name -->
            <v-text-field v-model="ex.name" label="Extraction Name" :placeholder="'Extraction '+(i+1)"></v-text-field>
            <!-- Expand Toggle -->
            <v-btn icon @click="ex.expand = !ex.expand">
              <v-icon v-if="ex.expand">keyboard_arrow_up</v-icon>
              <v-icon v-else>keyboard_arrow_down</v-icon>
            </v-btn>
            <!-- Test Button -->
            <v-tooltip bottom :open-delay="500" content-class="tooltip">
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon @click="testExtraction(ex)">
                  <v-icon color="primary">mdi-file-find</v-icon>
                </v-btn>
              </template>
              <span>Find Results</span>
            </v-tooltip>
            <!-- Delete Button -->
            <v-tooltip bottom :open-delay="500" content-class="tooltip">
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon @click="deleteExtraction(i)">
                  <v-icon color="error">delete</v-icon>
                </v-btn>
              </template>
              <span>Delete</span>
            </v-tooltip>

          </div>
          <!-- Regex Search Expression -->
          <v-label>Search Expression</v-label>
          <prism-editor v-model="ex.searchExp" language="regex"></prism-editor>
        </div>

        <div v-if="ex.expand" :key="i+'-'">
          <!-- Map Function -->
          <v-select label="Map Expression" filled :items="mapOptions" v-model="ex.map" hide-details></v-select>
          <div class="mt-2 mb-3 expressionEditor" :class="ex.map.id!='custom'?'faded':''">
            <prism-editor :readonly="ex.map.id!='custom'" v-model="ex.map.code" language="js" lineNumbers></prism-editor>
            <v-tooltip v-if="ex.map.id=='custom'" bottom max-width="300">
              <template v-slot:activator="{ on }">
                <v-icon class="codeHint" color="grey" v-on="on">info</v-icon>
              </template>
              <span>Use <b>{i}</b> for accessing the i-th group. <br />Write a single line expression ,a self-invoking function or a block statement.</span>
            </v-tooltip>
          </div>
          <!-- Aggregate Function -->
          <v-select label="Aggregate Expression" filled :items="aggOptions" v-model="ex.agg" hide-details></v-select>
          <div class="mt-2 mb-3 expressionEditor" :class="ex.agg.id!='custom'?'faded':''">
            <prism-editor :readonly="ex.agg.id!='custom'" v-model="ex.agg.code" language="js" lineNumbers></prism-editor>
            <v-tooltip v-if="ex.agg.id=='custom'" bottom max-width="300">
              <template v-slot:activator="{ on }">
                <v-icon class="codeHint" color="grey" v-on="on">info</v-icon>
              </template>
              <span>You can use the following variables: <b>agg</b> for the current aggregation (initially <em>null</em>), <b>e</b> for the current element, <b>i</b> for the index of the current element and <b>elems</b> for an array of all elements.
                <br />Write a single line expression ,a self-invoking function or a block statement.</span>
            </v-tooltip>
          </div>
          <!-- Valuation Function -->
          <v-select label="Valuation Expression" filled :items="valOptions" v-model="ex.val" hide-details></v-select>
          <div class="mt-2 mb-3 expressionEditor" :class="ex.val.id!='custom'?'faded':''">
            <prism-editor :readonly="ex.val.id!='custom'" v-model="ex.val.code" language="js" lineNumbers></prism-editor>
            <v-tooltip v-if="ex.val.id=='custom'" bottom max-width="300">
              <template v-slot:activator="{ on }">
                <v-icon class="codeHint" color="grey" v-on="on">info</v-icon>
              </template>
              <span>You can use the following variables: <b>value</b> for the aggregated value. <br />Write a single line expression ,a self-invoking function or a block statement returning the valuation between <b>0</b> and <b>1</b>.</span>
            </v-tooltip>
          </div>
          <v-layout>
            <!-- Column Selection -->
            <v-flex xs6 mr-2>
              <v-select hide-details filled :items="columnOptions" v-model="ex.columns" label="Use Columns" multiple class="mb-2"></v-select>
            </v-flex>
            <!-- Weight -->
            <v-flex xs6 ml-2>
              <v-text-field filled hide-details type="number" label="Weight" v-model="ex.weight" placeholder="1"></v-text-field>
            </v-flex>
          </v-layout>
        </div>
        <v-divider class="my-4" :key="i+'--'" />

      </template>
      <!-- Create New Extraction -->
      <v-btn outlined class="mr-2" @click="newExtraction">
        <v-icon>add</v-icon> New Extraction
      </v-btn>
      <!-- Help Dialog -->
      <v-dialog width="700">
        <template v-slot:activator="{ on }">
          <v-btn outlined v-on="on">
            <v-icon small class="mr-1">help</v-icon>Help
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline" primary-title>
            <v-icon color="info" class="mr-2">info</v-icon> Extractions
          </v-card-title>

          <v-card-text>

            <p>
              An extraction consists of a <b>regular expression</b> as well as three functions: The <b>Map, Aggregate and Valuation</b> function. All three functions work together to calculate a single value from 0 to 1 about the abnormality of the
              extracted information.<br />
              It can be assigned to one or more <b>columns</b> and has a <b>weight</b> which defines how much the extraction influences the report valuation.
            </p>
            <v-divider class="mb-3"></v-divider>
            <h3>The search expression</h3>
            <p>
              The search expression is a standard regular expression. It must define <b>capture groups</b> which contents will be provided to the <b>mapping function</b>. Numbers will automatically be parsed.
            </p>
            <v-divider class="mb-3"></v-divider>
            <h3>The functions</h3>
            <p>
              The user can choose one of the provided functions or write a custom one. The custom functions are written in javascript and can take one of three forms:<br />
              <b>1. A single line expression</b> like <code>1 + 2</code> or <code>"abcde".charAt(x)</code><br />
              <b>2. A self invoking function</b> in the form <code>( (param1, param2) => { ...; return x; } ) (1, 2)</code><br />
              <b>3. A block statement</b> in the form <code>{ let x = 1; let y = x + 2; y }</code>
            </p>
            <v-divider class="mb-3"></v-divider>
            <h3>The Map function</h3>
            <p>
              The <b>Map function</b> gets called for each match of the search expression. Note that there can be more than one matches in a single report.<br />
              The function is used to transform each matches by performing simple operations.
            </p>
            <v-divider class="mb-3"></v-divider>
            <h3>The Aggregate function</h3>
            <p>
              The <b>Aggregate function</b> gets called for each report once. Its purpose is to aggregate all matches of a single report into a single value.<br />
              It gets executed onto the transformed matches returned from the Map function<br />
              The written expression will be used as a <b>reducer</b> on the array of matches.
            </p>
            <v-divider class="mb-3"></v-divider>
            <h3>The Valuation function</h3>
            <p>
              The <b>Valuation function</b> transforms the aggregated value into a valuation value.<br />
              It must return a value <b>between 0 and 1</b> with 0 being <em>'normal'</em> and 1 being <em>'abnormal'</em>.
            </p>
          </v-card-text>

        </v-card>
      </v-dialog>
    </template>
  </Page>
</Layout>
</template>

<script>
import ExtractionWorker from 'worker-loader!@/workers/extractionWorker.js';
let exworker = new ExtractionWorker();
import PrismEditor from 'vue-prism-editor'
import "vue-prism-editor/dist/VuePrismEditor.css";

import _ from 'lodash'

/**
 * The extraction view to create and configure numeric extractions. It utilizes
 * regular expressions and the javascript eval() function to allow custom written
 * functions and therefore no logical limitations to the type of extraction. It
 * also provides a tool to test and debug created extractions on the loaded reports.
 */
export default {
  components: {
    PrismEditor
  },
  data: () => ({
    /**
     * The generated results of a extraction for testing
     * @type {Array}
     */
    testResult: null,
    /**
     * The columns of the test results table
     * @type {Array}
     */
    testHeaders: [{
        text: "Report Id",
        value: "id"
      },
      {
        text: "Source",
        value: "source",
        sortable: false
      },
      {
        text: "Mapping",
        value: "map.length",
        align: "right"
      },
      {
        text: "Aggregation",
        value: "agg",
        align: "right"
      },
      {
        text: "Valuation",
        value: "val",
        align: "right"
      },
    ],
    /**
     * Options for the Map function
     * @type {Array}
     */
    mapOptions: [{
      value: {
        id: "identity",
        code: "{0}"
      },
      text: "Identity"
    }, {
      value: {
        id: "custom",
        code: ""
      },
      text: "Custom"
    }],
    /**
     * Options for the Aggregate function
     * @type {Array}
     */
    aggOptions: [{
      value: {
        id: "sum",
        code: "agg + e",
        init: 0
      },
      text: "Sum"
    }, {
      value: {
        id: "avg",
        code: "agg + (e / elems.length)",
        init: 0
      },
      text: "Average"
    }, {
      value: {
        id: "min",
        code: "Math.min(agg, e)",
        init: Number.MAX_VALUE
      },
      text: "Minimum"
    }, {
      value: {
        id: "max",
        code: "Math.max(agg, e)",
        init: 0
      },
      text: "Maximum"
    }, {
      value: {
        id: "custom",
        code: "",
        init: null
      },
      text: "Custom"
    }],
    /**
     * Options for the Valuate function
     * @type {Array}
     */
    valOptions: [{
      value: {
        id: "identity",
        code: "value"
      },
      text: "Identity"
    }, {
      value: {
        id: "percentage",
        code: "value / 100"
      },
      text: "Percentage"
    }, {
      value: {
        id: "custom",
        code: ""
      },
      text: "Custom"
    }],
    /**
     * The array holding a local copy of all created extractions, which
     * will be synched with the vuex store
     * @type {Array}
     */
    extractions: []
  }),
  /**
   * Sets up the bidirectional synchronization between
   * the local state and the vuex store
   */
  created() {
    // synchronize store to local
    this.$watch(() => this.$store.state.extractions, () => {
      this.$set(this, 'extractions', this.$store.state.extractions);
    }, {
      deep: true,
      immediate: true
    });
    // synchronize local to store
    this.$watch('extractions', _.debounce((e) => {
      this.$store.commit("setExtractions", e);
    }, 500), {
      deep: true
    });
  },
  computed: {
    /**
     * Columns for selection
     * @return {Array} Column options
     */
    columnOptions() {
      return this.$store.state.reportColumns.map((c, i) => ({
        value: i,
        text: c
      }))
    }
  },
  methods: {
    /**
     * Test an extraction
     * @param  {Object} ex The extraction
     */
    testExtraction(ex) {
      exworker.postMessage({
        extractions: [ex],
        reports: this.$store.state.reports.map(r => ({
          id: r.id,
          source: r.source
        }))
      });
      exworker.onmessage = ({
        data
      }) => {
        if (data.err) {
          // notify if an error occurred (syntax error in custom function, etc.)
          this.$notify({
            group: 'alerts',
            title: data.err.name + " in " + data.err.method,
            text: data.err.message,
            'animation-type': 'velocity',
            position: 'top right',
            type: 'error',
            duration: 5000
          })
        } else {
          console.log(data); //eslint-disable-line
          // display test results in a table
          this.testResult = data ? data.map(d => ({
            id: d.id,
            ...d.results[0]
          })) : []
        }
      }
    },
    /**
     * Creates a new extraction
     */
    newExtraction() {
      this.extractions.push({
        searchExp: "",
        map: {
          ...this.mapOptions[0].value
        },
        agg: {
          ...this.aggOptions[0].value
        },
        val: {
          ...this.valOptions[0].value
        },
        expand: true,
        weight: 1
      });
    },
    /**
     * Deletes an extraction
     * @param  {Number} i The index of the extraction
     */
    deleteExtraction(i) {
      this.extractions.splice(i, 1);
    }
  }
}
</script>

<style lang="scss">
#extraction {
    .text-content {
        font-size: 1.1em;
    }

    code {
        box-shadow: none;
        background: none;
        color: none;
        font-size: 1em;
        font-weight: normal;
        max-width: 100%;

        &::before {
            content: "";
        }
    }
}

.options.extractionOptions {
    display: initial;
    flex-basis: 50%;
    max-width: 500px;
}

.faded code {
    opacity: 0.5;
}

.expressionEditor {
    position: relative;
}

.codeHint {
    position: absolute;
    right: -8px;
    bottom: -8px;
}

.token.charclass {
    color: #690;
}
.token.quantifier {
    color: #07a;
}
.token.charset-punctuation {
    color: #905;
}
.token.group {
    color: #905;
}
.token.alternation {
    color: #9a6e3a;
}

.map-tooltip {
    display: flex;

    & > div {
        display: flex;
        flex-flow: column;
        margin: 0 4px;

        &:last-child {
            align-items: flex-end;
        }
    }
}
</style>
