<template>
<Layout>
  <template v-slot:drawer>
    <v-list>
      <!-- Modules List -->
      <v-subheader>Modules</v-subheader>
      <v-list-item to="marking">
        <v-list-item-avatar>
          <v-icon color="primary">mdi-marker</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Mark Report</v-list-item-content>
      </v-list-item>
      <v-list-item to="writing">
        <v-list-item-avatar>
          <v-icon color="primary">mdi-pencil</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Write Report</v-list-item-content>
      </v-list-item>
      <v-list-item to="extraction">
        <v-list-item-avatar>
          <v-icon color="primary">mdi-numeric</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Extract Values</v-list-item-content>
      </v-list-item>
      <v-list-item to="reports">
        <v-list-item-avatar>
          <v-icon color="primary">mdi-database</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>View Reports</v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list dense>
      <!-- Controls List -->
      <v-subheader>Controls</v-subheader>
      <v-list-item @click="live = !live">
        <v-list-item-avatar>
          <v-icon :color="live?'primary':''">mdi-checkbox-{{live?'marked':'blank'}}-circle-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Live Valuation</v-list-item-content>
      </v-list-item>
      <v-list-item @click="toggleValuation" :disabled="live" style="position: relative;" :class="!stats.allValuated ? 'outline-warning' : ''">
        <v-list-item-avatar>
          <v-icon>play_arrow</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>{{ 100 > progress ? "Stop" : "Start"}}&nbsp;Valuation</v-list-item-content>
        <div class="progress-backlayer" v-if="progress < 100">
          <v-progress-linear :value="progress" buffer :buffer-value="buffer" height="4"></v-progress-linear>
        </div>
      </v-list-item>
      <v-list-item @click="trafficLight = !trafficLight">
        <v-list-item-avatar>
          <v-icon :color="trafficLight?'primary':''">mdi-eye{{trafficLight?'':'-off'}}</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Traffic Light</v-list-item-content>
      </v-list-item>

      <!-- File Options -->
      <v-subheader>File</v-subheader>
      <v-list-item @click="$store.dispatch('openReports')" :class="stats.reports == 0 ? 'outline-warning' : ''">
        <v-list-item-avatar>
          <v-icon>mdi-folder-open</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Open Reports</v-list-item-content>
      </v-list-item>
      <v-list-item @click="$store.dispatch('importMarkings')" :class="stats.reports > 0 && stats.valuations == 0 ? 'outline-warning' : ''">
        <v-list-item-avatar>
          <v-icon>mdi-database-import</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Import Markings</v-list-item-content>
      </v-list-item>
      <v-list-item @click="$store.dispatch('importExtractions')">
        <v-list-item-avatar>
          <v-icon>mdi-numeric</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>Import Extractions</v-list-item-content>
      </v-list-item>
    </v-list>

  </template>
  <v-container fluid pa-3 class="container">
    <!-- No Reports Loaded Alert -->
    <v-alert dismissible :value="stats.reports == 0" type="warning" class="mb-2 mt-0">
      You have <b>0</b> reports loaded. To open a reports file click the button. <v-btn color="white" text class="my-0" @click="$store.dispatch('openReports')">Open Reports</v-btn>
    </v-alert>
    <!-- No imported Markings Alert -->
    <v-alert dismissible :value="stats.reports > 0 && stats.valuations == 0" type="warning" class="mb-2 mt-0">
      You haven't imported any markings. To open a markings file click the button. <v-btn color="white" text class="my-0" @click="$store.dispatch('importMarkings')">Import Markings</v-btn>
    </v-alert>
    <!-- Unvaluated Reports Alert -->
    <v-alert dismissible :value="!stats.allValuated" type="warning" class="mb-2 mt-0">
      You have unvaluated reports. To valuate all reports click the button. <v-btn text color="white" class="my-0" @click="$store.dispatch('scheduleAll')">Valuate Reports</v-btn>
    </v-alert>

    <masonry ref="masonry" class="masonry" :cols="cols" :gutter="16">
      <!-- Reports Stats Card -->
      <v-card>
        <v-card-title><span class="subheading">Report Stats</span>
          <InfoTip>
            Shows the following statistics:<br />
            <b>Reports Marked:</b> Number of reports that have at least 1 marked word.<br />
            <b>Reports Valuated:</b> Number of reports that were valuated.<br />
            <b>Extraction Reports:</b> Number of reports that match at least 1 extraction.<br />
            <b>Extraction Average:</b> Average number of matched extractions per report.<br />
          </InfoTip>
        </v-card-title>
        <v-card-text class="report-stats">
          <!-- Reports Stats -->
          <div class="row px-3">
            <div style="flex-basis: 50%">
              <span class="display-3 black--text" style="line-height: .9em !important">{{stats.reports}}</span><br />
              <span class="title font-weight-regular black--text">Reports</span>
            </div>
            <div>
              <span class="title black--text" style="display: inline-block; width: 40px">{{stats.marks}}</span>
              <span class="body-1 black--text">Marked</span><br />
              <span class="title black--text" style="display: inline-block; width: 40px">{{stats.valuated}}</span>
              <span class="body-1 black--text">Valuated</span>
            </div>
          </div>
          <!-- Extraction Stats -->
          <div class="row px-3 mt-3">
            <div style="flex-basis: 50%">
              <span class="display-1 black--text">{{stats.extractions}}</span><br />
              <span class="subheading font-weight-regular black--text">Extractions</span>
            </div>
            <div>
              <span class="title black--text" style="display: inline-block; width: 40px">{{stats.reportsExt}}</span>
              <span class="body-1 black--text">Reports</span><br />
              <span class="title black--text" style="display: inline-block; width: 40px">{{stats.reportsAvgExt}}</span>
              <span class="body-1 black--text">Average</span><br />
            </div>
          </div>
          <div class="row mt-4 ml-3">
            <v-btn to="reports" outlined class="ml-0 mr-2">Reports</v-btn>
            <v-btn to="extraction" outlined >Extractions</v-btn>
          </div>
        </v-card-text>
      </v-card>
      <!-- Valuation Results Chart -->
      <v-card>
        <v-card-title><span class="subheading">Valuation Results</span>
          <InfoTip>
            Shows the boxplots of Abnormality, Coverage and Ambiguity including:<br />
            <b>Minimum and maximum</b> value accross all reports.<br />
            <b>0.25 and 0.75 percentile</b> of all reports.
          </InfoTip>
        </v-card-title>
        <v-card-text>
          <chart type="candlestick" :options="candleOptions" :series="candleSeries"></chart>
        </v-card-text>
      </v-card>
      <!-- Overview Chart -->
      <v-card>
        <v-card-title><span class="subheading">Overview</span>
          <InfoTip>
            Gives an comparison of the current and desired values regarding:<br />
            <b>Abnormality, Coverage and Ambiguity</b> average values.<br />
            <b>Marked reports</b> in %.<br />
            <b>Matched extractions</b> in %.
          </InfoTip>
        </v-card-title>
        <v-card-text>
          <chart style="margin-top: -70px; z-index: -1" height="330" type="radar" :options="radarOptions" :series="radarSeries"></chart>
        </v-card-text>
      </v-card>
      <!-- Report Distribution Chart -->
      <v-card>
        <v-card-title><span class="subheading">Report Distribution</span>
          <InfoTip>
            Shows a heatmap of the distribution of reports regarding<br />
            <b>Ambiguity and Coverage</b> in %.<br />
            The color relates to the amount of reports contained in the 10% sections.
          </InfoTip>
        </v-card-title>
        <v-card-text>
          <chart height="280" style="margin-top: -40px" type="heatmap" :options="heatmapOptions" :series="heatmapSeries"></chart>
        </v-card-text>
      </v-card>
      <!-- Report Trend Chart -->
      <v-card>
        <v-card-title><span class="subheading">Report Trend</span>
          <InfoTip>
            Shows a bubble chart of the reports regarding<br />
            <b>Ambiguity and Abnormality</b> in %.<br />
            <b>Coverage</b> as the size of the circles.
          </InfoTip>
        </v-card-title>
        <v-card-text>
          <chart height="270" type="bubble" :options="bubbleOptions" :series="bubbleSeries"></chart>
        </v-card-text>
      </v-card>
    </masonry>
  </v-container>
</Layout>
</template>

<script>
import InfoTip from "@/components/InfoTip"
import _ from "lodash"

import {progress} from "@/helpers.js"

/**
 * The home screen gives an overview over the achieved valuations in different figures
 * and diagrams. It shows a navigation drawer with navigation items to the different
 * views, control items and action items as well as file items to load contents of files.
 */
export default {
  components: {
    InfoTip
  },
  data: () => ({
    progress: 100,
    buffer: 100,
    candleOptions: {
      chart: {
        toolbar: {
          show: false
        },
        animations: {
          enabled: false
        }
      },
      xaxis: {
        categories: ["Abnormality", "Coverage", "Ambiguity"]
      },
      plotOptions: {
        candlestick: {
          colors: {
            upward: '#008ffb'
          }
        }
      },
      yaxis: {
        min: 0,
        max: 100,
        tickAmount: 5,
        labels: {
          formatter: (d) => d.toFixed(0)
        }
      },
      tooltip: {
        enabled: false
      }
    },
    radarOptions: {
      chart: {
        toolbar: {
          show: false
        },
        animations: {
          enabled: false
        }
      },
      labels: ['Abnormality (Avg)', 'Coverage (Avg)', 'Ambiguity (Avg)', 'Marking (%)', 'Extraction (%)'],
      colors: ["#00e396", "#008ffb"],
      yaxis: {
        min: 0,
        max: 100,
        tickAmount: 4,
        labels: {
          formatter: (d) => d.toFixed(0)
        }
      }
    },
    heatmapOptions: {
      chart: {
        toolbar: {
          show: false
        },
        animations: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      colors: ["#008FFB"],
      yaxis: {
        title: {
          text: "Ambiguity (%)"
        }
      },
      xaxis: {
        tickAmount: 9,
        title: {
          text: "Coverage (%)"
        },
        tooltip: {
          enabled: false
        }
      }
    }
  }),
  /**
   * Handles the loading interval
   */
  created() {
    progress.subscribe((v, q) => {
      this.buffer = Math.round((1 - q / this.$store.state.reports.length) * 100);
      this.progress = Math.round(v * 100 / this.$store.state.reports.length);
    });
  },
  computed: {
    /**
     * Sets and Gets live valuation
     * @type {Object}
     */
    live: {
      get() {
        return this.$store.state.live;
      },
      set(l) {
        this.$store.commit("setLive", l);
      }
    },
    /**
     * Sets and Gets traffic light status
     * @type {Object}
     */
    trafficLight: {
      get() {
        return this.$store.state.showTrafficLight;
      },
      set(t) {
        this.$store.commit("toggleTrafficLight", t);
      }
    },
    /**
     * Returns important statistics
     * @return {Object} The statistics object
     */
    stats() {
      return {
        allValuated: this.$store.state.reports.length == 0 || this.$store.state.allValuated,
        reports: this.$store.state.reports.length,
        marks: this.$store.state.reports.filter(r => r.marks.length > 0).length,
        valuated: this.$store.state.reports.filter(r => r.result).length,
        valuations: this.$store.state.importedMarkings.length,
        extractions: this.$store.state.extractions.length,
        reportsExt: this.$store.state.reports.filter(r => r.extractions && r.extractions.length > 0).length,
        reportsAvgExt: (this.$store.state.reports.map(r => r.extractions ? r.extractions.length : 0).reduce((avg, e) => avg + e, 0) / (this.$store.state.reports.length || 1)).toFixed(1)
      }
    },
    /**
     * Returns the series for the candle chart (Valuation Results)
     * @return {Object} The chart series
     */
    candleSeries() {
      return [{
        data: [{
          x: "Abnormality",
          y: this.ohlc('abnormality')
        }, {
          x: "Coverage",
          y: this.ohlc('coverage')
        }, {
          x: "Ambiguity",
          y: this.ohlc('ambiguity')
        }]
      }]
    },
    /**
     * Returns the series for the radar chart (Overview)
     * @return {Object} The chart series
     */
    radarSeries() {
      return [{
        name: "Desired",
        data: [50, 100, 0, 100, 100]
      }, {
        name: "Reports",
        data: [this.avg("abnormality"), this.avg("coverage"), this.avg("ambiguity"), this.stats.marks / this.stats.reports * 100, this.stats.reportsAvgExt / (this.stats.extractions || 1) * 100]
      }]
    },
    /**
     * Returns the options for the bubble chart (Report Trend)
     * @return {Object} The chart options
     */
    bubbleOptions() {
      return {
        chart: {
          toolbar: {
            show: false
          },
          animations: {
            enabled: false
          },
          events: {
            dataPointSelection: (e, context, config) => {
              this.$router.push({ //eslint-disable-line
                name: "marking",
                params: {
                  reportId: context.w.config.series[0].data[config.dataPointIndex][3]
                }
              });
              e.stopPropagation();
            }
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          min: 0,
          max: 100,
          tickAmount: 5,
          title: {
            text: "Ambiguity (%)"
          },
          tooltip: {
            enabled: false
          }
        },
        yaxis: {
          min: 0,
          max: 100,
          title: {
            text: "Abnormality (%)"
          },
          tickAmount: 5,
          labels: {
            formatter: (d) => d.toFixed(0)
          }
        },
        tooltip: {
          custom: ({
            dataPointIndex,
            w
          }) => {
            let x = w.config.series[0].data[dataPointIndex];
            return `<div class="bubble-tooltip">
                <span class="subheading">Report ${x[3]}</span><br/>
                <span class="caption">Ambiguity (x):</span><span class="body-2">${x[0].toFixed(2)}%</span><br/>
                <span class="caption">Abnormality (y):</span><span class="body-2">${x[1].toFixed(2)}%</span><br/>
                <span class="caption">Coverage:</span><span class="body-2">${(x[2]*5).toFixed(2)}%</span><br/>
              </div>`;
          }
          // custom:  (c * 5).toFixed(2)+"%" }
        }
      }
    },
    /**
     * Returns the series for the bubble chart (Report Trend)
     * @return {Object} The chart series
     */
    bubbleSeries() {
      return [{
        name: "Reports",
        data: this.$store.state.reports.filter(r => r.result).map(r => [r.result.ambiguity * 100, r.result.abnormality * 100, r.result.coverage * 30, r.id])
      }]
    },
    /**
     * Returns the series for the heatmap chart (Report Distribution)
     * @return {Object} The chart series
     */
    heatmapSeries() {
      let s = new Array(10).fill(0).map((_, i) => ({
        name: (i * 10 + 10),
        data: new Array(10).fill(0).map((_, i) => ({
          x: i * 10 + 10,
          y: 0
        }))
      }))
      this.$store.state.reports
        .filter(r => r.result)
        .map(r => ({
          x: Math.min(Math.floor(r.result.coverage * 10), 9),
          y: Math.min(Math.floor(r.result.ambiguity * 10), 9)
        }))
        .forEach(({
          x,
          y
        }) => s[y].data[x].y++)
      return s;
    },
    /**
     * Sets the amount of columns for the masonry based on the display size
     * @return {Number} The amount of columns
     */
    cols() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 1;
        case 'sm':
          return 2;
        case 'md':
        case 'lg':
          return 3;
        default:
          return 4;
      }
    },
    /**
     * Calculates the with of a column of the masonry grid
     * @return {Number} The column width
     */
    columnWidth() {
      return document.body.clientWidth / this.cols;
    }
  },
  methods: {
    /**
     * Calculates the average value of a report valuation number.
     * @param  {String} key The key for the report result
     * @return {Number}     The average
     */
    avg(key) {
      let s = this.$store.state.reports.filter(r => r.result).map(r => r.result[key] * 100)
      return s.reduce((sum, e) => sum + e, 0) / s.length;
    },
    /**
     * Calculates the Open-High-Low-Close Array for a report valuation number
     * @param  {String} key The key for the report result
     * @return {Array}      The OHLC-Array
     */
    ohlc(key) {
      let s = _.sortBy(this.$store.state.reports.filter(r => r.result).map(r => r.result[key] * 100), _.identity);
      return [s[Math.round(s.length * 0.25)], s[s.length - 1], s[0], s[Math.round(s.length * 0.75)]];
    },
    /**
     * Toggles the valuation of reports
     */
    toggleValuation() {
      if (this.buffer == 100)
        this.$store.dispatch("scheduleAll")
      else
        this.$store.commit("clearQueue");
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
    max-height: 100%;
    overflow-y: scroll;
}

.masonry > div > * {
    margin-bottom: 16px;
}

.report-stats {
    line-height: 1em;
    span {
        margin-right: 1em;
    }
    .row {
        display: flex;
    }
}

.progress-backlayer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .v-progress-linear {
        margin: 0;
    }
}

.outline-warning {
    border: 2px solid #fb8c00;
    border-radius: 5px;
}
</style>

<style lang="scss">
.bubble-tooltip {
    padding: 1em;

    .caption {
        display: inline-block;
        width: 100px;
    }
}
</style>
