<template>
<Layout>
  <Page :tools="tools" :selectedTool="tool" @selectTool="selectTool" id="marking" :content-class="$store.state.showTrafficLight?'shiftLeft':''">
    <template v-if="report" v-slot:default>
      <v-card>
        <!-- Report Title with Id, Patient Id and Documentation -->
        <v-card-title primary-title>
          <div>
            <span class="headline">Report {{report.id}}</span>
            <span class="headline"> / Patient {{report.patient}}</span><br />
            <span class="body-2">{{report.docu}}</span>
          </div>
        </v-card-title>
        <v-card-text>
          <!-- Report Columns -->
          <template v-for="column in columns">
            <span class="caption grey--text text--darken-3" :key="column+'c'">{{columnOptions[column].text}}</span>
            <p class="text-content" :key="column+'p'" :id="'report-column-'+column" @mouseup="onSelect">
              <span v-for="(word, i) in words[column]" :key="i" :class="word.class" :data-i="word.i" v-html="word.text"></span>
            </p>
          </template>
        </v-card-text>
      </v-card>
      <!-- Optional Traffic Light -->
      <TrafficLight v-if="$store.state.showTrafficLight" :result="report.result"></TrafficLight>
    </template>
    <!-- Marking Options -->
    <template v-slot:options>
      <v-select filled :items="orderOptions" v-model="orderBy" label="Order By"></v-select>
      <v-select filled :items="columnOptions" v-model="columns" label="Use Columns" multiple></v-select>
      <v-checkbox color="primary" v-model="toggleKnowledgeMarks" label="Underline markings"></v-checkbox>
      <v-btn text outlined class="mb-2" @click="reset">Reset</v-btn>
      <v-btn text outlined color="success" @click="next">Next</v-btn>
      <v-spacer></v-spacer>
      <ReportStats :report="report"></ReportStats>
    </template>
  </Page>
  <!-- Inspection Dialog -->
  <v-dialog :value="showLex" :width="400" transition="slide-y-transition">
    <v-card class="inspector">
      <div class="pa-4">
        <span class="body-1">Markings for</span>
        <span class="body-2" v-html="inspector.search"></span>
        <span class="body-1 ml-1" style="white-space: nowrap;" v-if="inspector.weight != null">
          (<v-icon class="mr-1" small>mdi-weight</v-icon>x{{inspector.weight}})
        </span>
      </div>
      <v-expansion-panels v-model="inspector.value" accordion>
        <!-- Valuation Markings -->
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>Markings used for valuation</div>
          </v-expansion-panel-header>
          <v-expansion-panel-content class="inspector-content">
            <div v-for="(match, i) in inspector.matches" :key="i" class="inspector-item">
              <span :class="match.class">
                {{match.source}}
              </span>
            </div>
            <div v-if="!inspector.matches || inspector.matches.length == 0" class="inspector-item">
              <span class="body-2">No Results</span>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- All Markings -->
        <v-expansion-panel>
          <v-expansion-panel-header>
            <div>All found markings</div>
          </v-expansion-panel-header>
          <v-expansion-panel-content class="inspector-content">
            <template v-for="(use, i) in inspector.uses">
              <div class="inspector-item link" v-if="use.id !== undefined" @click="goTo(use.id)" :key="i">
                <span class="inspector-link">
                  <v-icon>link</v-icon>
                </span>
                <span :class="use.class">
                  {{use.source}}
                </span>
              </div>
              <div v-else class="inspector-item" :key="i">
                <span :class="use.class">
                  {{use.source}}
                </span>
              </div>

            </template>
            <!-- No Results Fallback -->
            <div v-if="!inspector.uses || inspector.uses.length == 0" class="inspector-item">
              <span class="body-2">No Results</span>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>

  </v-dialog>
</Layout>
</template>

<script>
import {
  splitText,
  degrammar
} from "@/helpers.js"
import _ from 'lodash'

import ReportStats from "@/components/ReportStats"
import TrafficLight from "@/components/TrafficLight"

/**
 * The markings view to mark reports and assess the valuation quality. It provides
 * tools to mark text in four different colors as well as a inspector tool which displays
 * information about a valuated section to reason about the computed valuation.
 */
export default {
  components: {
    TrafficLight,
    ReportStats
  },
  data: () => ({
    tool: "",
    tools: [{
      icon: "mdi-marker",
      label: "Mark 'Normal'",
      color: "limegreen",
      id: "mg"
    }, {
      icon: "mdi-marker",
      label: "Mark 'Probably Abnormal'",
      color: "gold",
      id: "my"
    }, {
      icon: "mdi-marker",
      label: "Mark 'Abnormal'",
      color: "crimson",
      id: "mr"
    }, {
      icon: "mdi-marker",
      label: "Mark 'Neutral'",
      color: "#aaa",
      id: "mn"
    }, {
      icon: "mdi-eraser",
      label: "Eraser",
      color: "white",
      id: "e"
    }, {
      icon: "search",
      label: "Inspect",
      color: "white",
      id: "i"
    }],
    searchId: "",
    orderBy: 0,
    orderOptions: [{
      value: 0,
      text: "Default"
    }, {
      value: 1,
      text: "Unmarked first"
    }, {
      value: 2,
      text: "Most ambiguous first"
    }, {
      value: 3,
      text: "Least covered first"
    }],
    toggleKnowledgeMarks: true,
    reportListByMarking: [],
    reportListByAmbiguity: [],
    reportListByCoverage: [],
    inspector: {},
    showLex: false
  }),
  /**
   * Redirects to first report if no id is specified
   */
  created() {
    this.refreshReportLists();
    if (!this.$route.params.reportId && this.$store.state.reports.length > 0) {
      this.$router.replace({
        name: 'marking',
        params: {
          reportId: this.$store.state.reports[0].id
        }
      })
    } else {
      this.scheduleReportValuation();
    }
  },
  watch: {
    /**
     * Refreshes the report lists when the order is changed
     */
    orderBy() {
      this.refreshReportLists();
      this.next(true);
    },
    /**
     * Refreshes the report lists when the amount of reports changes
     */
    '$store.state.reports.length'(rnew, rold) {
      if (rnew != rold) {
        this.refreshReportLists();
      }
    },
    /**
     * Redirects to first report when no id is specified
     */
    '$route.params.reportId'() {
      if (!this.$route.params.reportId && this.$store.state.reports.length > 0) {
        this.$router.replace({
          name: 'marking',
          params: {
            reportId: this.$store.state.reports[0].id
          }
        })
      }
      this.scheduleReportValuation();
    },
    /**
     * Schedules valuation when markings change
     */
    '$store.state.valuations'() {
      this.scheduleReportValuation();
    }
  },
  computed: {
    /**
     * Gets the opened report based on the route parameter
     * @return {Object} The opened report
     */
    report() {
      return this.$store.getters.getReport(this.$route.params.reportId);
    },
    /**
     * Calculates the words and delimiters of a report with the marking classes
     * @return {Array} The words
     */
    words() {
      if (!this.report) return [];
      return this.report.source.map((s, c) => _.flatten(splitText(s)
        .map(({
          delim,
          text
        }, i) => [{
            text: delim,
            class: _.intersection(this.getClasses(c, i - 1), this.getClasses(c, i)),
            i: i
          },
          {
            text: text.replace("-", "&#8209;"),
            class: this.getClasses(c, i),
            i: i
          }
        ])
      ).filter(w => w.text != ""));
    },
    /**
     * Gets the columns of a report
     * @return {Object} The column options
     */
    columnOptions() {
      return this.$store.state.reportColumns.map((c, i) => ({
        value: i,
        text: c
      }))
    },
    /**
     * Gets and Sets the selected columns for report marking
     * @type {Object}
     */
    columns: {
      get() {
        return this.$store.state.selectedReportColumns
      },
      set(c) {
        this.$store.commit("selectReportColumns", c)
      }
    }
  },
  methods: {
    /**
     * Selects a tool from the toolbar
     * @param  {String} id The tool id
     */
    selectTool(id) {
      if (this.tool == id)
        this.tool = "";
      else
        this.tool = id;
    },
    /**
     * Opens a report based on the searchId
     */
    searchById() {
      this.$router.push({
        name: 'marking',
        params: {
          reportId: this.searchId
        }
      })
    },
    /**
     * Opens a report
     * @param  {String} id The report id
     */
    goTo(id) {
      this.showLex = false;
      this.$router.push({
        name: 'marking',
        params: {
          reportId: id
        }
      })
    },
    /**
     * Handles a text selection based on the selected tool
     */
    onSelect() {
      let selection = document.getSelection();
      let s = this.getSelection(selection);
      if (!s) this.tool = ""
      if (this.tool == "") return;

      if (["mg", "my", "mr", "mn"].indexOf(this.tool) >= 0) { // a marking tool is selected
        this.mark(s, this.tool);
        selection.collapseToStart();
      } else if (this.tool == "e") { // the erase tool is selected
        this.erase(s);
        selection.collapseToStart();
      } else if (this.tool == "i") { // the find tool is selected
        let text = this.words[s.column]
          .filter(w => w.i >= s.start && w.i <= s.end)
          .map(w => w.text)
          .join("").replace("&#8209;", "-");
        let search = degrammar(text);
        if (search == "") {
          console.log("NO MATCH"); //eslint-disable-line
          return;
        }
        let equalDef = (a, b) => a.source == b.source && a.value == b.value;
        let valuation = this.report.valuation
          .filter(w => w.start == s.start && w.end == s.end && w.column == s.column)
        // find the valuation matches
        let matches = _.uniqWith(_.flatten([
          ...this.$store.state.valuations.filter(m => m.word == search).map(m => m.sources),
          ...valuation.map(w => w.stat.sources)
        ]), equalDef);
        // find all uses
        let uses = _.uniqWith([
          ...this.$store.state.markings.filter(m => m.text.includes(search)).map(m => ({
            source: m.source,
            value: m.value,
            id: m.id
          })),
          ..._.flatten(this.$store.state.valuations.filter(m => m.word.includes(search)).map(v => v.sources))
        ], equalDef);

        let box = selection.getRangeAt(0).getBoundingClientRect();
        this.$set(this, "inspector", {
          x: (box.left + box.right) / 2 - 200,
          y: box.top + box.height,
          value: 0,
          search: text,
          matches: matches.map(m => ({
            ...m,
            class: this.mapClass(m.value)
          })),
          uses: uses.map(m => ({
            ...m,
            class: this.mapClass(m.value)
          })),
          weight: valuation.length > 0 ? valuation[0].weight : null
        });
        this.showLex = false;
        setImmediate(() => this.showLex = true);
        selection.collapseToStart();
      }
    },
    /**
     * Gets the column and indexes to a text selection
     * @param  {Object} selection The selection object
     * @return {Object}           The start and end indexes and the column
     */
    getSelection(selection) {
      if (selection.type != "Range" && selection.type != "Caret") return null;
      let a = selection.anchorNode.parentNode.attributes['data-i'];
      let b = selection.extentNode.parentNode.attributes['data-i'];
      if (!a || !b) return null;
      if (selection.anchorNode.parentNode.parentNode.id.substring(14) != selection.extentNode.parentNode.parentNode.id.substring(14))
        // selection across columns
        return null;
      return {
        start: Math.min(a.value, b.value),
        end: Math.max(a.value, b.value),
        column: selection.anchorNode.parentNode.parentNode.id.substring(14)
      }
    },
    /**
     * Maps valuation type to css class
     * @param  {String} v The valuation type
     * @return {String}   The css class
     */
    mapClass(v) {
      return ["mg", "my", "mr", "mn"][
        ["normal", "preabnormal", "abnormal", "neutral"].indexOf(v)
      ];
    },
    /**
     * Erases a marking
     * @param  {Number} column The column of the marking
     * @param  {Number} start  The start index of the marking
     * @param  {Number} end    The end index of the marking
     */
    erase({
      column,
      start,
      end
    }) {
      if (!this.report) return;
      this.$store.commit("eraseMarks", {
        id: this.report.id,
        column,
        start,
        end
      })
    },
    /**
     * Creates a marking
     * @param  {Number} column The column of the marking
     * @param  {Number} start  The start index of the marking
     * @param  {Number} end    The end index of the marking
     * @param  {Number} value  The valuation type of the marking
     */
    mark({
      column,
      start,
      end
    }, value) {
      if (!this.report) return;
      this.$store.commit("updateMarks", {
        id: this.report.id,
        column,
        start,
        end,
        value
      })
    },
    /**
     * Resets all markings of a report
     */
    reset() {
      if (!this.report) return;
      this.$store.commit("resetMarks", this.report.id);
    },
    /**
     * Gets the classes for a word
     * @param  {Number} column The column of the word
     * @param  {Number} i      The index of the word
     * @return {Array}         The css classes
     */
    getClasses(column, i) {
      if (!this.report) return;
      let markClasses = this.report.marks.filter(m => m.column == column && m.i == i).map(m => m.value);
      if (!this.toggleKnowledgeMarks || !this.report.valuation) {
        return markClasses;
      } else {
        return [
          ...markClasses,
          ...this.report.valuation.filter(m => m.column == column && m.start <= i && m.end >= i).map(m => m.value)
        ]
      }
    },
    /**
     * Opens the next report in the list
     * @param {Boolean} reset TRUE if the list should be resetted
     */
    next(reset) {
      if (!this.report) return;
      let reportList = this.$store.state.reports;
      if (this.orderBy == 1) {
        reportList = this.reportListByMarking;
      } else if (this.orderBy == 2) {
        reportList = this.reportListByAmbiguity;
      } else if (this.orderBy == 3) {
        reportList = this.reportListByCoverage;
      }
      let i = reset === true ? 0 : reportList.indexOf(this.report) + 1;
      i = i < reportList.length ? i : 0;
      this.$router.push({
        name: 'marking',
        params: {
          reportId: reportList[i].id
        }
      })
    },
    /**
     * Refreshes the report lists for all sorting options
     */
    refreshReportLists() {
      if (this.$store.state.reports.length == 0) {
        this.reportListByValuation = this.reportListByConclusiveness = [];
      } else {
        let list = [...this.$store.state.reports];
        this.reportListByMarking = [...list.sort((a, b) => a.marks.length - b.marks.length)];
        this.reportListByAmbiguity = [...list.filter(a => a.result).sort((a, b) => b.result.ambiguity - a.result.ambiguity), ...list.filter(a => !a.result)];
        this.reportListByCoverage = [...list.filter(a => a.result).sort((a, b) => a.result.coverage - b.result.coverage), ...list.filter(a => !a.result)];
      }
    },
    /**
     * Schedules the valuation of the opened report
     */
    scheduleReportValuation() {
      if (this.report && this.$store.state.valuations.length > 0) {
        this.$store.dispatch("schedule", [{
          report: this.report,
          prio: 100
        }])
      } else if (this.report) {
        this.$store.commit("setReportValuations", [{
          id: this.report.id,
          valuation: []
        }]);
      }
    }
  }
}
</script>

<style lang="scss">
.text-content {

    font-size: 1.6em;
    line-height: 1.6em;
    color: #222;

    padding: 1em;
    border: 2px solid rgba(0,0,0,.15);

    white-space: pre-wrap;

    span {
        position: relative;

    }
    span::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        bottom: -3px;
        left: 0;
        right: 0;
    }
    span.normal::after {
        background: limegreen;
    }
    span.preabnormal::after {
        background: gold;
    }
    span.abnormal::after {
        background: red;
    }
    span.normal.abnormal::after {
        background: repeating-linear-gradient(-45deg, limegreen, limegreen 5px, red 5px, red 10px);
    }
    span.normal.preabnormal::after {
        background: repeating-linear-gradient(-45deg, limegreen, limegreen 5px, gold 5px, gold 10px);
    }
    span.preabnormal.abnormal::after {
        background: repeating-linear-gradient(-45deg, red, red 5px, gold 5px, gold 10px);
    }
    span.end::after {
        right: 5px;
    }
}

span.mn {
    background: rgba(gray, .8);
    &.mg {
        background: repeating-linear-gradient(-45deg, rgba(gray, .8), rgba(gray, .8) 5px, limegreen 5px, limegreen 10px);
    }
    &.my {
        background: repeating-linear-gradient(-45deg, rgba(gray, .8), rgba(gray, .8) 5px, gold 5px, gold 10px);
    }
    &.mr {
        background: repeating-linear-gradient(-45deg, rgba(gray, .8), rgba(gray, .8) 5px, rgba(red, .8) 5px, rgba(red, .8) 10px);
    }
}
span.mg {
    background: limegreen;
}
span.my {
    background: gold;
}
span.mr {
    background: rgba(red, .8);
}

.inspector {
    background: white;
    box-sizing: border-box;

    .inspector-content {
        background: #eee;

        .v-expansion-panel-content__wrap {
          padding-left: 0;
          padding-right: 0;
        }

        .inspector-item {
            padding: 5px 20px;

            &:first-child {
              padding-top: 15px;
            }

            &.link {
                cursor: pointer;

                .inspector-link {
                    margin-right: 3px;
                    i {
                        height: 0.8em;
                    }
                }

                &:hover {
                    background: #d0d0d0;
                }
            }
        }
    }
}

.page .content.shiftLeft {
    margin-right: 60px;
}
</style>
