<template>
<Layout hideSearchPopup @search="handleSearch" @searchFocus="onSearchFocused" @searchBlur="onSearchBlur">
  <div style="height: 100%; overflow-y: scroll;">
    <v-container fluid pa-3>
      <v-card>
        <v-card-title class="px-10 pb-0">
          <v-layout row align-center>
            <v-flex>
              <span class="headline">Reports</span>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs2>
              <v-select v-model="sortBy" :items="sortingOptions" prepend-icon="sort" flat label="Sort by"></v-select>
            </v-flex>
            <v-flex ml-3 shrink>
              <v-btn small text @click="sortOrder = 1-sortOrder" class="toggle_btn">
                <v-icon small :class="sortOrder?'flip':''">arrow_upward</v-icon> {{sortOrder?'Descending':'Ascending'}}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-card-text>
          <v-list two-line v-if="reportsSorted.length > 0">
            <v-list-item style="margin: -20px 0;">
              <!-- Help Icons -->
              <v-list-item-avatar><span>
                  <InfoTip>
                    The dot gives an indication of the report's valuation:<br />
                    <b>The color</b> represents the abnormality.<br />
                    <b>The size</b> represents the coverage.<br />
                  </InfoTip>
                </span></v-list-item-avatar>
              <v-list-item-content></v-list-item-content>
              <div>
                <InfoTip>
                  The bar gives an indication of the report's marking:<br />
                  <b>The color</b> indicates the type of marking.<br />
                  <b>The size</b> indicates the amount of marking.<br />
                </InfoTip>
              </div>
            </v-list-item>
            <!-- Report List -->
            <v-list-item v-for="report in reportsSorted" :key="report.id" @click="$router.push({name: 'marking', params: {reportId: report.id}})">
              <v-list-item-avatar>
                <span class="dot" :style="report.result ? {
                background: report.result.abnormality <= 0.5
                  ? chroma.mix('limegreen', 'gold', report.result.abnormality*2, 'hsl').hex()
                  : chroma.mix('gold', 'red', (report.result.abnormality-0.5)*2, 'hsl').hex(),
                width: report.result.coverage * 25 + 5 + 'px',
                height: report.result.coverage * 25 + 5 + 'px'
              } : {}"></span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>Report {{report.id}} / Patient {{report.patient}}</v-list-item-title>
                <v-list-item-subtitle>
                  <template v-if="report.sections">
                    <div class="report-sections">
                      <span v-for="(section, i) in report.sections" :class="section.class" :key="i">{{section.text}}</span>
                    </div>
                  </template>
                  <template v-else>
                    {{report.docu}}
                  </template>
                </v-list-item-subtitle>
              </v-list-item-content>
              <!-- Report Marking -->
              <div>
                <div v-if="report.marking" class="marking-bar" :style="{width: report.marking.sum}">
                  <div :style="{width: report.marking.normal}"></div>
                  <div :style="{width: report.marking.preabnormal}"></div>
                  <div :style="{width: report.marking.abnormal}"></div>
                  <div :style="{width: report.marking.neutral}"></div>
                </div>
              </div>
              <!-- Delete Button -->
              <v-list-item-action v-if="report.custom">
                <v-btn icon @click.stop="remove(report.id)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-list-item-action>

            </v-list-item>
          </v-list>
          <!-- No Data Fallback -->
          <div v-else class="ma-4">
            <span v-if="searchFocused && search.length == 0">Type something to search. You can search by <b>report number</b>, <b>patient number</b> or the <b>report contents</b>.</span>
            <span v-else-if="searchFocused">No Results</span>
            <span v-else>No Data</span>
          </div>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</Layout>
</template>

<script>
import InfoTip from "@/components/InfoTip"

function sortResults(r, f) {
  return [
    ...r.filter(r => r.result).sort(f),
    ...r.filter(r => !r.result)
  ]
}

/**
 * This view shows a searchable list of all loaded reports that can be sorted
 * by a number of metrics. It also includes an valuation indication for each
 * report as well as a summary of its markings.
 */
export default {
  components: {
    InfoTip
  },
  data: () => ({
    sortingOptions: [{
      value: 0,
      text: "Default"
    }, {
      value: 1,
      text: "Abnormality"
    }, {
      value: 2,
      text: "Coverage"
    }, {
      value: 3,
      text: "Ambiguity"
    }, {
      value: 4,
      text: "Marking"
    }],
    sortingFunctions: [
      (r, d) => d ? r.reverse() : r,
      (r, d) => sortResults(r, (a, b) => (-d * 2 + 1) * (a.result.abnormality - b.result.abnormality)),
      (r, d) => sortResults(r, (a, b) => (-d * 2 + 1) * (a.result.coverage - b.result.coverage)),
      (r, d) => sortResults(r, (a, b) => (-d * 2 + 1) * (a.result.ambiguity - b.result.ambiguity)),
      (r, d) => r.sort((a, b) => (-d * 2 + 1) * (a.marks.length - b.marks.length))
    ],
    searchFocused: false,
    searchResults: [],
    search: ''
  }),
  computed: {
    /**
     * Gets and Sets sorting option
     * @type {Object}
     */
    sortBy: {
      get() {
        return this.$store.state.sortBy
      },
      set(s) {
        this.$store.commit("setSortBy", s);
      }
    },
    /**
     * Gets and Sets sorting order
     * @type {Object}
     */
    sortOrder: {
      get() {
        return this.$store.state.sortOrder
      },
      set(s) {
        this.$store.commit("setSortOrder", s);
      }
    },
    /**
     * Creates and sorts the report list
     */
    reportsSorted() {
      let rs;
      if (!this.searchFocused && this.searchResults.length == 0) {
        rs = [...this.$store.state.reports];
      } else {
        rs = [...this.searchResults];
      }

      rs = rs.map(r => ({
        ...r,
        marking: ((marks) => {
          // console.log(marks);
          let sum = marks.length;
          if (sum == 0) {
            return {
              sum: 0,
              normal: "0%",
              preabnormal: "0%",
              abnormal: "0%",
              neutral: "0%"
            }
          }
          return {
            sum: Math.min(200, sum * 3 + 20) + 'px',
            normal: marks.filter(m => m.value == "mg").length / sum * 100 + '%',
            preabnormal: marks.filter(m => m.value == "my").length / sum * 100 + '%',
            abnormal: marks.filter(m => m.value == "mr").length / sum * 100 + '%',
            neutral: marks.filter(m => m.value == "mn").length / sum * 100 + '%'
          }
        })(r.marks)
      }))

      return this.sortingFunctions[this.sortBy](rs, this.sortOrder);
    }
  },
  methods: {
    /**
     * Event handler for the search event of the search-bar
     * @param {Event} e The search event
     */
    handleSearch(e) {
      console.log(e);
      this.searchResults = e.results;
      this.search = e.search;
    },
    /**
     * Event handler for the searchbar focus event
     */
    onSearchFocused() {
      this.searchFocused = true;
    },
    /**
     * Event handler for the searchbar blur event
     */
    onSearchBlur() {
      this.searchFocused = false;
    },
    /**
     * Deletes a report
     * @param  {String} id The report id
     */
    remove(id) {
      this.$store.commit("deleteReport", id)
    }
  }
}
</script>

<style lang="scss" scoped>
.dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #aaa;
}

.marking-bar {
    height: 19px;
    border-radius: 2px;
    overflow: hidden;

    div {
        display: inline-block;
        height: 100%;

        &:nth-child(1) {
            background: limegreen;
        }
        &:nth-child(2) {
            background: gold;
        }
        &:nth-child(3) {
            background: red;
        }
        &:nth-child(4) {
            background: #aaa;
        }
    }
}

.toggle_btn {
    i {

        transition: transform 0.4s ease-in-out !important;

        &.flip {
            transform: rotate(-180deg);
        }
    }
}

.report-sections {

    span.match {
        background: yellow;
    }
}
</style>
