<template>
<Layout>
  <Page id="writing" :content-class="$store.state.showTrafficLight?'shiftLeft':''">
    <template v-slot:default>
      <v-card>
        <!-- Title with Documentation -->
        <v-card-title primary-title>
          <div style="width: 100%">
            <span class="headline">New Report</span>
            <v-text-field hide-details filled class="mt-3" label="Documentation" v-model="report.docu" :error="validation.docu">
            </v-text-field>
          </div>
        </v-card-title>
        <v-card-text>
          <!-- Report Columns -->
          <template v-for="(option, i) in columnOptions">
            <span class="caption" :key="i+'-o'">{{option.text}}</span>
            <div class="editor-container" :key="i+'-e'">
              <div class="editor-wrapper">
                <!-- Overlay used for underline markings -->
                <p class="text-content hidden-overlay editor">
                  <span v-for="(w, j) in words[i]" :class="loading?'':w.class" :key="j">{{w.text}}</span>
                </p>
                <!-- Texteditor -->
                <textarea class="editor" :ref="'input-'+i" @input="onContentChange($event, i)" :rows="option.rows">
                </textarea>
              </div>
            </div>
          </template>
        </v-card-text>
      </v-card>
      <TrafficLight v-if="$store.state.showTrafficLight" :result="report.result"></TrafficLight>
    </template>
    <!-- Options Sidebar -->
    <template v-slot:options>
      <v-text-field filled label="Report Id" placeholder="Generate automatically" v-model="report.id" :error="validation.id"></v-text-field>
      <v-text-field filled label="Patient Id" v-model="report.patient" :error="validation.patient"></v-text-field>
      <v-checkbox color="primary" v-model="toggleKnowledgeMarks" label="Underline markings."></v-checkbox>
      <v-btn outlined class="mb-2" @click="clearReport">Clear</v-btn>
      <v-btn outlined color="success" @click="saveReport">Save</v-btn>
      <v-spacer></v-spacer>
      <ReportStats :report="report"></ReportStats>
    </template>
  </Page>
</Layout>
</template>

<script>
import {
  splitText
} from "@/helpers.js"
import _ from "lodash"
import TrafficLight from "@/components/TrafficLight"
import ReportStats from "@/components/ReportStats"
import ExtractionWorker from 'worker-loader!@/workers/extractionWorker.js';
let exworker = new ExtractionWorker();

/**
 * Using this view a new report can be written and saved to the database.
 * The typed text is being valuated live to give feedback about the
 * algorithm's view onto the report.
 */
export default {
  components: {
    TrafficLight,
    ReportStats
  },
  data: () => ({
    toggleKnowledgeMarks: true,
    report: {
      source: ["", "", "", ""],
      id: '',
      patient: '',
      docu: ''
    },
    loading: false,
    debounceSchedule: null,
    validation: {
      docu: false,
      patient: false,
      id: false
    }
  }),
  /**
   * Sets a schedule function for debouncing input events
   */
  created() {
    this.debounceSchedule = _.debounce(() => {
      console.log("BOUNCED"); //eslint-disable-line
      this.scheduleReportValuation();
    }, 400, {
      leading: true,
      trailing: true
    })
  },
  computed: {
    /**
     * Gets the options for the report columns
     * @return {Array} The report columns
     */
    columnOptions() {
      return this.$store.state.reportColumns.map((c, i) => ({
        value: i,
        text: c,
        rows: [4, 2, 4, 3][i]
      }))
    },
    /**
     * Creates the words array of the report
     * @return {Array} The words of the report
     */
    words() {
      let w = this.report.source.map((s, i) => _.flatten(splitText(s)
        .map(({
          delim,
          text
        }, j) => [{
            text: delim,
            class: ''
          },
          {
            text,
            class: this.getClasses(i, j).join(" ")
          }
        ])
      ).filter(({
        text
      }) => text !== ""))
      return w;
    }
  },
  methods: {
    /**
     * Handler for the input events for every column
     * @param  {Event} e The input events
     * @param  {Number} i The column
     */
    onContentChange(e, i) {
      this.$set(this.report.source, i, e.target.value)
      this.debounceSchedule();
      e.target.style.height = 'auto';
      e.target.style.height = (e.target.scrollHeight) + 'px';
    },
    /**
     * Gets the class list for each word
     * @param  {Number} column The column of the word
     * @param  {Number} i      The index of the word
     * @return {Array}        The classes
     */
    getClasses(column, i) {
      if (!this.report) return;
      if (!this.toggleKnowledgeMarks || !this.report.valuation) {
        return [];
      } else {
        return [
          ...this.report.valuation.filter(m => m.column == column && m.start <= i && m.end >= i).map(m => m.value),
          this.report.valuation.some(m => m.column == column && m.end == i) ? 'end' : ''
        ]
      }
    },
    /**
     * Schedules the report for valuation
     */
    scheduleReportValuation() {
      if (this.report && this.$store.state.valuations.length > 0) {
        this.loading = true;
        // first calculate the extractions
        exworker.postMessage({
          extractions: this.$store.state.extractions,
          reports: [{
            id: this.report.id,
            source: this.report.source
          }]
        });
        exworker.onmessage = ({
          data
        }) => {
          if (!data.err && data.length > 0) {
            // console.log(data);
            this.$set(this.report, "extractions", data[0].results)
          } else {
            this.$set(this.report, "extractions", []);
          }

          // second calculate the valuation
          this.$store.dispatch("schedule", [{
            report: this.report,
            prio: 200,
            cb: (id, valuation, result) => {
              this.$set(this.report, 'valuation', valuation)
              this.$set(this.report, 'result', result)
              this.loading = false;
            }
          }])
        };
      } else if (this.report) {
        this.$set(this.report, 'valuation', [])
        this.$set(this.report, 'result', null)
      }
    },
    /**
     * Resets the report object to the default empty state
     */
    clearReport() {
      this.report = {
        source: ["", "", "", ""],
        id: "",
        patient: ""
      }
      this.report.source.forEach((_, i) => this.$refs['input-' + i][0].value = "");
    },
    /**
     * Saves the report to the store
     */
    saveReport() {
      // require docu and validate report id and patient id
      this.validation.docu = this.report.docu.length == 0;
      this.validation.id = this.report.id.length > 0 && !this.validId(this.report.id)
      this.validation.patient = this.report.patient.length == 0 || !this.validId(this.report.patient);

      if (this.validation.id + this.validation.patient + this.validation.docu == 0) {
        this.$store.commit("saveReport", {
          id: this.report.id,
          patient: this.report.patient,
          source: this.report.source,
          docu: this.report.docu
        });
        this.$notify({
          group: 'alerts',
          title: 'Report saved',
          text: `Successfully saved report.`,
          'animation-type': 'velocity',
          position: 'top right',
          type: 'success',
          duration: 5000
        })
        this.clearReport();
      }
    },
    /**
     * Validates the given id
     * @param  {String} id The id
     * @return {Boolean}   TRUE if the id is valid
     */
    validId(id) {
      return !isNaN(id)
    }
  }
}
</script>

<style lang="scss">
.editor-container {
    margin: 0.5em 0 1em;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 0.5em;
    background: rgba(0,0,0,.06);
    box-sizing: content-box;

    &:hover {
        background: rgba(0,0,0,.12);
    }

    .editor-wrapper {
        min-height: 100%;
        position: relative;
    }
}

.editor {
    display: block;
    resize: none;
    font-size: 1em;
    height: 100%;
    width: 100%;
    line-height: 1.5em;
    color: #222;

    &:focus,
    *:focus {
        outline: none;
    }

    &__content {
        word-wrap: break-word;
        * {
            caret-color: currentColor;
        }
    }
}

.hidden-overlay {
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 0px;
    word-break: break-word;

    span {
        color: transparent;
    }
}
</style>
