<template>
<v-app-bar :clipped-left="$vuetify.breakpoint.smAndUp" color="blue darken-3" dark app fixed>
  <!-- Drawer Toggle Button -->
  <v-app-bar-nav-icon v-if="$vuetify.breakpoint.smAndDown" @click="$emit('toggleDrawer')"></v-app-bar-nav-icon>
  <!-- App Logo -->
  <img @click="$router.push({name: 'home'})" class="logo" src="@/assets/logo_white.png" />
  <!-- App Title -->
  <v-toolbar-title style="width: 200px" class="ml-0 pl-3">
    <span class="hidden-sm-and-down">Med Toolbox</span>
  </v-toolbar-title>
  <!-- Search Bar with Popup-->
  <v-menu offset-y :nudge-bottom="12" :nudge-left="40" :nudge-width="52" content-class="search-menu" v-if="hideSearchPopup === false">
    <template v-slot:activator="{ on }">
      <v-text-field flat solo-inverted hide-details prepend-inner-icon="search" label="Search" class="hidden-sm-and-down" v-on="on" v-model="search"></v-text-field>
    </template>
    <!-- The Search Popup -->
    <Search :search="search" @search="$emit('search', $event)" @reset="search = ''"></Search>
  </v-menu>
  <!-- Search Bar without Popup -->
  <v-text-field v-else flat solo-inverted hide-details prepend-inner-icon="search" label="Search" class="hidden-sm-and-down" @focus="$emit('searchFocus')" @blur="$emit('searchBlur')" clearable v-model="search"></v-text-field>
  <Search hidden :search="search" @search="$emit('search', $event)" @reset="search = ''"></Search>
  <v-spacer></v-spacer>
  <!-- Home Button -->
  <v-btn icon @click="$router.push({name: 'home'})">
    <v-badge color="warning" overlap class="home-badge">
      <!-- Exclamation Badge -->
      <template v-slot:badge v-if="homeHasAlert">
        <b>!</b>
      </template>
      <v-icon>home</v-icon>
    </v-badge>
  </v-btn>
  <!-- History Button with Popup -->
  <v-menu :close-on-content-click="false" offset-y left>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on" :disabled="$store.state.history.length==0">
        <v-badge color="red" overlap class="history-badge">
          <!-- History Count Badge -->
          <template v-slot:badge v-if="$store.state.history.length>0">
            <span>{{$store.state.history.length}}</span>
          </template>
          <v-icon>history</v-icon>
        </v-badge>
      </v-btn>
    </template>
    <!-- History Popup -->
    <History></History>
  </v-menu>
  <!-- Modules Button -->
  <v-menu offset-y left>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon>apps</v-icon>
      </v-btn>
    </template>
    <!-- Modules List with Tooltips-->
    <v-list>
      <v-list-item @click="$router.push({name: 'marking'})">
        <v-avatar :size="24" class="mr-2">
          <v-icon>mdi-marker</v-icon>
        </v-avatar>
        <v-list-item-title>
          <span>Marking Module</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item @click="$router.push({name: 'writing'})">
        <v-avatar :size="24" class="mr-2">
          <v-icon>mdi-pencil</v-icon>
        </v-avatar>
        <v-list-item-title>
          <span>Writing Module</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item @click="$router.push({name: 'extraction'})">
        <v-avatar :size="24" class="mr-2">
          <v-icon>mdi-numeric</v-icon>
        </v-avatar>
        <v-list-item-title>
          <span>Values Module</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item @click="$router.push({name: 'reports'})">
        <v-avatar :size="24" class="mr-2">
          <v-icon>mdi-database</v-icon>
        </v-avatar>
        <v-list-item-title>
          <span>Reports Module</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</v-app-bar>
</template>

<script>
import History from "@/components/History"
import Search from "@/components/Search"

/**
 * The App Bar component including the search bar and history dialog
 */
export default {
  components: {
    History,
    Search
  },
  props: {
    /**
     * Indicates, that the search dialog will be hidden.
     */
    hideSearchPopup: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    /**
     * The current search string
     * @type {String}
     */
    search: ""
  }),
  computed: {
    /**
     * Define if at least one alert is active on the home page
     * @return {Boolean} true if >= 1 alert is active; otherwise false
     */
    homeHasAlert() {
      return this.$store.state.reports.length == 0 || this.$store.state.importedMarkings.length == 0 || !this.$store.state.allValuated;
    }
  }
}
</script>

<style lang="scss">
.history-badge .v-badge__badge {
    width: 19px;
    height: 19px;
    font-size: 12px;
    font-weight: 600;
}

.home-badge .v-badge__badge {
    width: 19px;
    height: 19px;
    font-size: 13px;
}

.search-menu {
    max-width: 0;
    max-height: 80vh;
}

.logo {
    height: 35px;
    margin-left: 1em;
    cursor: pointer;
}
</style>
