<template>
<div class="info_tip">
  <!-- Info Tooltip -->
  <v-tooltip bottom max-width="400">
    <template v-slot:activator="{ on }">
      <v-icon color="grey" v-on="on">info</v-icon>
    </template>
    <span>
      <!-- This slot defines the content of the tooltip -->
      <slot></slot>
    </span>
  </v-tooltip>
</div>
</template>

<style>
.info_tip {
  margin-left: auto;
}
</style>
