<template>
<div class="layout" style="background: #ddd">
  <!-- Navigation Drawer -->
  <v-navigation-drawer app v-model="drawer" clipped :permanent="$vuetify.breakpoint.mdAndUp" width="260" v-if="$slots.drawer">
    <!-- This slot defines the content of the navigation drawer -->
    <slot name="drawer"></slot>
  </v-navigation-drawer>
  <!-- App Bar -->
  <Appbar :hideSearchPopup="hideSearchPopup" @toggleDrawer="drawer = !drawer" @search="$emit('search', $event)" @searchFocus="$emit('searchFocus', $event)" @searchBlur="$emit('searchBlur', $event)"></Appbar>
  <!-- Main Content -->
  <v-content style="max-height: 100%;">
    <!-- This slot defines the content of the layout -->
    <slot></slot>
  </v-content>
</div>
</template>

<script>
import Appbar from "@/components/Appbar";

/**
 * The general layout component generating the app bar and
 * an optional navigation drawer and providing a slot for the main content
 */
export default {
  props: {
    /**
     * Indicates, that the search dialog of the app bar will be hidden.
     */
    hideSearchPopup: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Appbar
  },
  data: () => ({
    /**
     * Indicates if the drawer is active or not.
     * Does not influence if the drawer is rendered in the layout.
     * @type {Boolean}
     */
    drawer: true
  })
}
</script>

<style scoped>
.layout {
  height: 100%;
}
</style>
