<template>
<v-container fluid fill-height pa-0>
  <div class="page" :id="id">
    <!-- Page Content -->
    <div class="content" :class="contentClass">
      <template v-if="$slots.default">
        <!-- This slot defines the page content -->
        <slot></slot>
      </template>
      <!-- No Data Fallback -->
      <div v-else style="align-self: center;">
        <span class="title font-weight-bold grey--text">No Data</span>
      </div>
    </div>
    <!-- Options Sidebar -->
    <v-layout column class="options" :class="optionsClass">
      <!-- This slot defines the contents of the options sidebar -->
      <slot name="options"></slot>
    </v-layout>
    <!-- Tools Sidebar -->
    <Toolbar v-if="tools && tools.length > 0" :tools="tools" :selectedTool="selectedTool" @selectTool="$emit('selectTool', $event)"></Toolbar>
  </div>
</v-container>
</template>

<script>
import Toolbar from "@/components/Toolbar"

/**
 * The general Page component generating the options sidebar,
 * the toolbar and providing a slot for the page content.
 */
export default {
  components: {
    Toolbar
  },
  props: {
    /**
     * The page id
     */
    id: {
      type: String,
      required: true
    },
    /**
     * The tools array for the toolbar
     */
    tools: {
      type: Array,
      default: () => []
    },
    /**
     * The currently selected tool in the toolbar
     */
    selectedTool: { type: String },
    /**
     * An optional class for the content wrapper
     */
    "content-class": { type: String },
    /**
     * An optional class for the options sidebar
     */
    "options-class": { type: String }
  },
  created() {
    // create a key listener for tool selection
    document.body.addEventListener("keyup", (event) => {
      if (event.key == "Escape")
        this.$emit("selectTool", ""); // deselect any tool
      if (!isNaN(event.key)) { // key must be a number
        let tool = parseInt(event.key);
        if (tool > 0 && tool < this.tools.length+1) { // key must not exceed the tools array
          this.$emit("selectTool", this.tools[tool-1].id);
        } else {
          this.$emit("selectTool", "");
        }
      }
    });
  }
}
</script>

<style lang="scss">
.page {
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 100%;
    width: 100%;
}
.options {
    background: #eee;
    height: 100%;
    padding: 1em;
    flex: 0 0 250px;
    overflow-y: scroll;

    & > * {
        flex-grow: 0;
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    height: 100%;
    flex-grow: 1;
    overflow: scroll;

    .v-card {
      flex: 1;
      min-width: 60%;
    }
}
</style>
