<template>
<div v-if="report">
  <!-- Extraction Stats -->
  <div class="stats" v-if="report.extractions">
    <div v-for="(ex, i) in report.extractions" :key="i">
      <span class="mr-1">{{ex.name}}:</span><span>{{(ex.val*100).toFixed(2)}}%<v-icon class="ml-2 mr-1" small>mdi-weight</v-icon>x{{ex.weight}}</span>
    </div>
  </div>
  <!-- Valuation Stats -->
  <div class="stats" v-if="report.result">
    <div>
      <!-- Abnormality including extractions -->
      <span>Abnormality:</span><span>{{(report.result.abnormality*100).toFixed(2)}}%</span>
      <!-- Abnormality excluding extractions -->
      <span class="grey--text"> ({{(report.result.abnormality_raw*100).toFixed(2)}}%)</span>
    </div>
    <div><span>Coverage:</span><span>{{(report.result.coverage*100).toFixed(2)}}%</span></div>
    <div>
      <!-- Ambiguity including extractions -->
      <span>Ambiguity:</span><span>{{(report.result.ambiguity*100).toFixed(2)}}%</span>
      <!-- Ambiguity excluding extractions -->
      <span class="grey--text"> ({{(report.result.ambiguity_raw*100).toFixed(2)}}%)</span>
    </div>
  </div>
</div>
</template>

<script>

/**
 * A component for displaying the report statistics as
 * the report's extraction results
 * the report's valuation results
 */
export default {
  props: {
    /**
     * The report to display statistics of.
     */
    report: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.stats {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2em;
    font-size: .9rem;

    div {
        span:first-child {
            display: inline-block;
            min-width: 87px;
        }
    }
}
</style>
