<template>
  <div>
    <v-card v-if="hidden === false">
      <!-- Search Results -->
      <template v-if="searchResults.length > 0">
        <!-- Iterate over found reports -->
        <div class="search-result" v-for="(report, j) in searchResults" v-ripple @click="goTo(report.id)" :key="j">
          <!-- Report Id and Patient Id -->
          <span class="subheading">Report {{report.id}} / Patient {{report.patient}}</span><br>
          <!-- Matched text with highlighting -->
          <span v-for="(section, i) in report.sections" :class="section.class" :key="i">{{section.text}}</span>
        </div>
      </template>
      <!-- No Results Fallback -->
      <div class="search-hint" v-else>
        <span v-if="search.length == 0">Type something to search. You can search by <b>report number</b>, <b>patient number</b> or the <b>report contents</b>.</span>
        <span v-else>No Results</span>
      </div>
    </v-card>
  </div>
</template>

<script>
import strIndexesOf from 'str-indexes-of';
import _ from "lodash";

/**
 * Prototype wrapper for strIndexesOf
 * @param  {Array} args Arguments
 * @return {Array}      Found indexes
 */
String.prototype.indexesOf = function(...args) {
  return strIndexesOf(this, ...args);
}

/**
 * The search dialog showing all search results
 * with highlighted matches
 */
export default {
  props: {
    /**
     * The search string
     */
    search: {
      type: String,
      required: true
    },
    /**
     * Makes the popup hidden
     */
    hidden: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * The search results with matched sections
     * @return {Array} Array of search results
     */
    searchResults() {

      const MAX_RESULTS = 20; // limit number of search results
      const AROUND = 40; // number of displayed characters around a search match

      let matches = [];

      let number = parseInt(this.search)
      if (number) { // search for report id or patient id

        matches = this.$store.state.reports.filter(r => r.id.toString().startsWith(this.search) || r.patient.toString().startsWith(this.search))
        matches.map(m => ({
          ...m,
          matchId: m.id.toString().startsWith(this.search),
          idSplit: [
            m.id.toString().substring(0, this.search.length),
            m.id.toString().substring(this.search.length)
          ],
          matchPatient: m.patient.toString().startsWith(this.search),
          patientSplit: [
            m.patient.toString().substring(0, this.search.length),
            m.patient.toString().substring(this.search.length)
          ],
          sections: []
        }))

        if (matches.length >= MAX_RESULTS) {
          return matches.slice(0, MAX_RESULTS)
        }
      }

      // search for report content

      let words = this.search.toLowerCase().split(" ").filter(w => w != ""); // search for each word seperately
      let results = this.$store.state.reports
        .map(r => ({ // find indexes for matches
          r,
          matches: _.flattenDeep(r.source
            .map((s, c) => words
              .map(w => s.toLowerCase().indexesOf(w)
                .map(i => ({
                  i,
                  l: w.length,
                  c
                }))
              ).filter(w => w.length > 0)
            )
          )
        })).map(({ // compute search score
          r,
          matches
        }) => ({
          ...r,
          matches,
          score: matches.reduce((sum, m) => sum + m.l, 0)
        }))

      results = _.reverse(_.sortBy(results.filter(r => r.score > 0), 'score')); // order by search score

      results = [
        ...matches.map(m => ({
          ...m,
          ...(results.find(r => r.id == m.id) || {})
        })),
        ...results.filter(r => !matches.some(m => m.id == r.id))
      ];

      if (results.length > MAX_RESULTS) {
        results = results.slice(0, MAX_RESULTS);
      }

      // transform search results
      for (let result of results) {

        if (!result.matches)
          continue;

        // get strings around search result
        let texts = _.sortBy(
          result.matches.map(({
            i,
            l,
            c
          }) => ({
            a: i,
            b: i + l,
            c,
            match: result.source[c].substring(i, i + l),
            before: result.source[c].substring(i - AROUND, i),
            after: result.source[c].substring(i + l, i + l + AROUND),
          })),
          ['c', 'a']
        )

        // combine texts using ellipsis
        let text = texts.reduce(({
          text,
          prev
        }, m) => {
          if (prev == null) {
            if (m.a <= AROUND) {
              return {
                text: m.before + m.match,
                prev: m
              }
            } else {
              return {
                text: '...' + m.before + m.match,
                prev: m
              }
            }
          } else {
            if (m.c == prev.c) {
              if (m.a > prev.b + AROUND * 2) {
                return {
                  text: text + prev.after + '...' + m.before + m.match,
                  prev: m
                }
              } else {
                let dist = m.a - prev.b;
                return {
                  text: text + prev.after.substring(0, Math.floor(dist / 2)) + m.before.substring(m.before.length - Math.ceil(dist / 2)) + m.match,
                  prev: m
                }
              }
            } else {
              return {
                text: text + prev.after + '...' + m.before + m.match,
                prev: m
              }
            }
          }
        }, {
          text: "",
          prev: null
        })

        text = text.prev ?
          text.text.length > 200 ?
          text.text.substring(0, 200) + '...' :
          text.text + text.prev.after :
          text.text;

        // find sections to mark
        let indexes = _.sortBy(
          _.flatten(
            words.map(w => text
              .toLowerCase()
              .indexesOf(w)
              .map(i => ({
                i,
                l: w.length
              }))
            )
          ),
          'i'
        );

        // regex for section marking
        let regex = indexes.reduce((regex, w) => {
          if (regex.prev == null) {
            return {
              text: `^(.{${w.i}})(.{${w.l}})`,
              prev: w
            }
          } else {
            return {
              text: regex.text + `(.{${w.i-regex.prev.i-regex.prev.l}})(.{${w.l}})`,
              prev: w
            }
          }
        }, {
          text: "",
          prev: null
        }).text + "(.*)$";

        console.log(text, regex);

        // set yellow marked sections
        let sections = (text.match(new RegExp(regex)) || []).slice(1).map((t, i) => ({
          text: t,
          class: i % 2 == 1 ? 'match' : ''
        }))

        result.sections = sections;

      }

      return results;
    }
  },
  watch: {
    /**
     * Emit search event when search results change
     * @param  {Array} sr The search results
     */
    searchResults(sr) {
      this.$emit("search", {
        results: sr,
        search: this.search
      });
    }
  },
  methods: {
    /**
     * Open a report
     * @param  {String} id The id of the selected report
     */
    goTo(id) {
      this.$emit("reset");
      this.$router.push({
        name: "marking",
        params: {
          reportId: id
        }
      });
    }
  }
}
</script>

<style scoped lang="scss">
.search-hint {
    padding: 1em;
}

.search-result {

    padding: 1em;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
        background: #efefef;
    }

    span.match {
        background: yellow;
    }

}
</style>
