<template>
<v-layout class="tools" elevation-10 column justify-start align-center v-if="tools && tools.length > 0">
  <!-- Tools -->
  <v-flex shrink v-for="tool in tools" :key="tool.id" my-2>
    <v-tooltip right :open-delay="500" content-class="tooltip">
      <template v-slot:activator="{ on }">
        <!-- The tool icon -->
        <v-btn v-on="on" icon small @click="$emit('selectTool', tool.id)" :class="selectedTool == tool.id ? 'selected' : ''">
          <v-icon :style="{color: tool.color}">{{tool.icon}}</v-icon>
        </v-btn>
      </template>
      <!-- The tool label as tooltip -->
      <span>{{tool.label}}</span>
    </v-tooltip>
  </v-flex>
</v-layout>
</template>

<script>

/**
 * The toolbar component showing a selectable list of tools
 * in a vertical column
 */
export default {
  props: {
    /**
     * An array of tools
     */
    tools: {
      type: Array,
      required: true
    },
    /**
     * The id of the selected tool
     */
    selectedTool: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.tools {
    background: #1976D2;
    height: 100%;
    padding-top: 1em;
    flex: 0 0 60px;

    .selected {
        border: 2px solid white;
    }
}
</style>
