<template>
  <div class="traffic_light">
    <span class="light rred" :class="red?'on':''"></span>
    <span class="light yyellow" :class="yellow?'on':''"></span>
    <span class="light ggreen" :class="green?'on':''"></span>
  </div>
</template>

<script>

/**
 * A traffic light styled component that shows the valuation of a report.
 * Multiple lights are on with a greater ambiguity.
 */
export default {
  props: {
    /**
     * The valuation result of a report
     */
    result: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Sets green light based on abnormality and ambiguity
     * @return {Boolean} TRUE if green light is on
     */
    green() {
      if (!this.result || this.result.coverage == 0) return false;
      return this.result.abnormality-this.result.ambiguity<0.3
    },
    /**
     * Sets yellow light based on abnormality and ambiguity
     * @return {Boolean} TRUE if yellow light is on
     */
    yellow() {
      if (!this.result || this.result.coverage == 0) return false;
      return this.result.abnormality-this.result.ambiguity<0.8 &&
        this.result.abnormality+this.result.ambiguity>0.3
    },
    /**
     * Sets red light based on abnormality and ambiguity
     * @return {Boolean} TRUE if red light is on
     */
    red() {
      if (!this.result || this.result.coverage == 0) return false;
      return this.result.abnormality+this.result.ambiguity>0.8
    }
  }
}

</script>

<style lang="scss">
.traffic_light {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 68px;
  height: 176px;
  border-radius: 10px 0 0 10px;
  background: #29313d;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  span {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 8px 0;
    position: relative;

    &.rred {
      background-color: rgba(#E84C3D, .4);
      &.on {
        background-color: #E84C3D;
      }
    }
    &.yyellow {
      background-color: rgba(#F0C530, .4);
      &.on {
        background-color: #F0C530;
      }
    }
    &.ggreen {
      background-color: rgba(#57AE6D, .4);
      &.on {
        background-color: #57AE6D;
      }
    }
  }
  span:before {
    content: "";
    position: absolute;
    background: black;
    opacity: .1;
    width:140%;
    height: 50%;
    top: 45%;
    left: 0;
    transform: rotate(-45deg);
  }
  span:after {
    content: "";
    width: 130%;
    height: 130%;
    position: absolute;
    top: -15%;
    left: -15%;
    border-radius: 10px;
    background: black;
    z-index: -1;
  }
}
</style>
