<template>
  <v-app>
    <!-- The current view -->
    <router-view/>
    <!-- Notification group -->
    <notifications group="alerts"/>
  </v-app>
</template>

<script>

import _ from "lodash";
import {ipcRenderer} from "electron";

export default {
  name: 'App',
  created() {
    // handle the menu events
    ipcRenderer.on("file", (e, message) => {
      switch (message) {
        case "open": this.$store.dispatch("openReports"); break;
        case "save": this.$store.dispatch("saveReports"); break;
        case "importMarkings": this.$store.dispatch("importMarkings"); break;
        case "exportValuations": this.$store.dispatch("exportValuations"); break;
        case "importExtractions": this.$store.dispatch("importExtractions"); break;
        case "exportExtractions": this.$store.dispatch("exportExtractions"); break;
        case "deleteReports": this.$store.commit("deleteReports"); break;
        case "deleteMarkings": this.$store.commit("deleteMarkings"); break;
        case "clearHistory": this.$store.commit("clearHistory"); break;
        default: break;
      }
    })
    ipcRenderer.on("module", (e, message) => this.$router.push({name: message}));

    // reset the store, needed because all state is persistent across program starts
    this.$store.commit("updateValuations", {valuations: [], markings: []});
    this.$store.commit("clearQueue");

    // re-compute the valuations when some markings change
    this.$watch(() => [this.$store.state.reports.map(r => r.marks), this.$store.state.importedMarkings], () => {
      console.log("UPDATING VALUATIONS"); //eslint-disable-line
      setImmediate(() => {
        this.$store.dispatch("computeValuations")
          // when live calculation is enabled, recalculate all report valuations when finished
          .then(() => this.$store.state.live ? this.$store.dispatch("scheduleAll") : null);
      })
    }, {immediate: true, deep: true});

    // re-compute the extraction results when some reports are added or some extractions change
    this.$watch(() => [this.$store.state.reports.length, this.$store.state.extractions], _.debounce(() => {
      console.log("UPDATING EXTRACTIONS"); //eslint-disable-line
      this.$store.dispatch("computeExtractions");
    }, 2000), {immediate: true, deep: true});
  }
}
</script>

<style>

body, .v-application {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  background: white;
  color: #222;
  font-weight: 500;
  border-radius:5px;
  max-width: 500px;
}

.notifications {
  top: 5px !important;
}

</style>
